In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv('data.csv' , encoding='cp1251')

In [4]:
selected_columns = ['job_title', 'age', 'salary', 'exp. period']
data = data[selected_columns]

In [5]:
X = data.drop(columns=['job_title'])

In [6]:
y = data['job_title']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=42)

In [13]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
X_train['exp. period'] = label_encoder.fit_transform(X_train['exp. period'])

In [15]:
gnb = GaussianNB()

X_train.fillna(X_train.mean(), inplace=True)

X_train.dropna(inplace=True)

gnb.fit(X_train, y_train)

GaussianNB()

In [25]:
X_test['exp. period'].fillna(X_test['exp. period'].median(), inplace=True)

X_test

      age     salary  exp. period
521  22.0        NaN         0.50
737  22.0        NaN         0.42
740  36.0        NaN         0.42
660  36.0        NaN         0.42
411  28.0  1075000.0         5.50
..    ...        ...          ...
408  22.0        NaN         2.50
332  30.0        NaN         4.67
208   NaN   400000.0         0.17
613  18.0        NaN         0.83
78   28.0   500000.0         4.33

[200 rows x 3 columns]

In [26]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
X_test['salary'] = label_encoder.fit_transform(X_test['salary'])

In [33]:
label_encoder = LabelEncoder()
X_test['age'] = label_encoder.fit_transform(X_test['age'])

In [34]:
y_pred = gnb.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Точность модели GaussianNB на тестовых данных:", accuracy)

Точность модели GaussianNB на тестовых данных: 0.14

In [37]:
label_encoder = LabelEncoder()
X['age'] = label_encoder.fit_transform(X['age'])

In [38]:
label_encoder = LabelEncoder()
X['salary'] = label_encoder.fit_transform(X['salary'])

In [39]:
cross_val_scores = cross_val_score(gnb, X, y, cv=10)
mean_accuracy = cross_val_scores.mean()
print("Средняя точность модели GaussianNB с перекрестной проверкой:", mean_accuracy)

Средняя точность модели GaussianNB с перекрестной проверкой: 0.33

In [40]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [43]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [44]:
y_pred_knn = knn.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)
print("Точность модели KNeighborsClassifier на тестовых данных:", accuracy_knn)

Точность модели KNeighborsClassifier на тестовых данных: 0.22

In [45]:
cross_val_scores_knn = cross_val_score(knn, X, y, cv=10)
mean_accuracy_knn = cross_val_scores_knn.mean()
print("Средняя точность модели KNeighborsClassifier с перекрестной проверкой:", mean_accuracy_knn)

Средняя точность модели KNeighborsClassifier с перекрестной проверкой: 0.865